# Dependencies
.npm

# Build outputs
dist
out
build
.next

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment & Secrets
.env*.local
.vercel

# Source Control
.git
.gitignore

# IDE / OS Files
.vscode
.DS_Store